<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COIN QUIZZZ Home</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body class="bg-dark">
    
    <div class="align-items-center d-flex justify-content-center mt-5" style="margin-top: 250px !important;">
        <H2 class="text-white" >COIN QUIZZZ</H2>
    </div>
    <div class="align-items-center d-flex justify-content-center mt-5" >
        <form action="/quiz"><Button type="submit" class="btn btn-secondary ">
            Start
        </Button></form>
        
    </div>
</body>
</html>