<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizzzz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body class="bg-dark d-flex justify-content-center align-items-center vh-100">

    <div class="card bg-dark  shadow-lg border-0 text-center p-4" style="max-width: 700px; width: 100%;">
        <div class="card-body">
            <h4 class="mb-3 text-white">Question {{ q_index+1 }}</h4>
            <p class="h5 mb-4  text-white">{{ q.text }}</p>

            <form id="quizForm" action="" method="post" class="d-flex flex-column align-items-center text-white">
                <button disabled type="button" class="btn btn-primary m-2 w-75">
                    A: {{ q.A }}
                </button>
                <button disabled type="button" class="btn btn-success m-2 w-75">
                    B: {{ q.B }}
                </button>
                <input type="hidden" name="choice" id="choiceInput">
                <button id="flipBtn" type="button" class="btn btn-warning btn-lg">
                    Click On Coin to flip and predict
                    <img id="coinImg" src="{{ url_for('static', filename='coin.png') }}"
                        style="width:100px; display:block; margin:20px auto;">
                </button>
            </form>
        </div>
    </div>

    <script>
        const flipBtn = document.getElementById("flipBtn");
        const choiceInput = document.getElementById("choiceInput");
        const coinImg = document.getElementById("coinImg");

        flipBtn.addEventListener("click", () => {
            const choice = Math.random() < 0.5 ? "A" : "B";
            choiceInput.value = choice;

            coinImg.style.transition = "transform 2s";
            coinImg.style.transform = "rotateY(1080deg)";

            coinImg.addEventListener("transitionend", function handler() {
                document.getElementById("quizForm").submit();
                coinImg.removeEventListener("transitionend", handler);
            });
        });
    </script>
</body>

</html>